<center><h1>Browse and Search for Users</h1></center>
<center><%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search People" %>
    <%= submit_tag "Search" %>
<% end %>

<br><br>
<h3><u>Users</u></h3>

<%# sort alphabetically, must all be lowercase usernames %>
<%# @users = @users.order(:username) %>

<%# sort by creation %>
<% @users = @users.reverse %>
<% @users.each do |everyone| %>
  <%= link_to image_tag(everyone.avatar.url(:real_small), class:"avater"), everyone %> <br> <b><%= link_to everyone.username, everyone  %></b><br><br>
<% end %>
</center>
