<center>

 <br>
 <%= image_tag @user.avatar.url(:thumb), class:"avater"  %> <h2><%= @user.username %> | <%= @user.posts.count %> <%= "Posts" %> | <%= @user.following.count %> <%= link_to "Following", following_path(@user) %> | <%= @user.followers.count %> <%= link_to "Followers", followers_path(@user) %> |<br></h2>


<h3><%= flash[:notice] %></h3>


<% if @user.id == session[:logged_in_user_id] %>
  <%= link_to "New Post", new_post_path %> <%= link_to "Edit User", edit_user_path(@user) %>
  <%= link_to 'Delete Account', user_path(current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<!-- TEMPORARILY DELETE THE BELOW RENDER PARTIALS TO BE ABLE TO SEE ALL SHOW PAGES FUNCTIONING -->
<%= render partial: "follow" %>
<%= render partial: "unfollow" %>
<!-- TEMPORARILY DELETE THE ABOVE RENDER PARTIALS TO BE ABLE TO SEE ALL SHOW PAGES FUNCTIONING -->

<br><br>


<% posts = @user.posts.reverse %>
<% posts.each do |post| %>
        <%= image_tag post.picture.url(:medium) %><br>
  Caption: <%= post.caption %><br><br>
<% end %></center>
