<center><h2><%= @user.username %> | Following | Followers |<br></h2>

<%= link_to "New Post", new_post_path %> <%= link_to "Edit User", edit_user_path(@user) %>
<br><br>

<% @user.posts.each do |post| %>
        <%= image_tag post.picture.url(:medium) %><br>
  Caption: <%= post.caption %><br><br>
<% end %></center>
