<center>
  <%= link_to "Search Users", users_path %> |  |

  <% if @user.id == session[:logged_in_user_id] %>
    <%= link_to "New Post", new_post_path %>
  <% end %>
    <br><br>

  <% if current_user.following.count == 0 %>
   <h2>Oh no!</h2>
   <p>It looks like you aren't following anyone.</p>
   <p>Click 'Search Users' at the top to search for people to follow!</p>
  <% end %>

  <% current_user.following.reverse.each do |user| %>
      <% user.posts.each do |post| %>
        <h2> <%= image_tag @users.find(post.user_id).avatar.url(:real_small), class:"avater"  %> <%= link_to @users.find(post.user_id).username, user_path(post.user_id) %></h2>
        <%= link_to image_tag(post.picture.url(:medium), :class => "class_name"), post_path(post); %><br>
        <%= @users.find(post.user_id).username %>: <%= post.caption %><br><br>

          <% if post.likes.count == 1 %>
            <%= post.likes.count %> like ||
            <% else %>
            <%= post.likes.count %> likes ||
          <% end %>


          <% if post.comments.count == 1 %>
            <%= post.comments.count %> <%= link_to 'comment', post_path(post) %>
            <% else %>
            <%= post.comments.count %> <%= link_to 'comments', post_path(post) %>
          <% end %>




    <% if current_user.likes.find_by(post_id: post.id) %>
      <div class = "unlike_button">
        <%= form_for @like do |f| %>
          <%= hidden_field_tag "post", post.id  %>
          <%= hidden_field_tag "unlike", "unlike" %>
          <%= f.submit "Unlike!"%><br><br>
        <% end %>
      </div>
    <% end %>

    <% if !current_user.likes.find_by(post_id: post.id) %>
      <div class = "like_button">
        <%= form_for @like do |f| %>
          <%= hidden_field_tag "post", post.id  %>
          <%= hidden_field_tag "like", "like" %>
          <%= f.submit "Like!"%> <br><br>
        <% end %>
      </div>
    <% end %>

    <% end %>
  <% end %>

</center>
