<center>
  <%= link_to "All users", users_path %>

  <% current_user.following.each do |user| %>
      <% user.posts.each do |post| %>
        <h2> <%= image_tag @users.find(post.user_id).avatar.url(:real_small), class:"avater"  %> <%= link_to @users.find(post.user_id).username, user_path(post.user_id) %></h2>
        <%= link_to image_tag(post.picture.url(:medium), :class => "class_name"), user_path(post.user_id); %><br>
        <%= @users.find(post.user_id).username %>: <%= post.caption %><br><br>
        <% if post.likes.any? %>
          Likes: <%= post.likes.count %>
        <% end %>

    <% if current_user.likes.find_by(post_id: post.id) %>
      <div class = "unlike_button">
        <%= form_for @like do |f| %>
          <%= hidden_field_tag "post", post.id  %>
          <%= hidden_field_tag "unlike", "unlike" %>
          <%= f.submit "Unlike!"%><br><br>
        <% end %>
      </div>
    <% end %>

    <% if !current_user.likes.find_by(post_id: post.id) %>
      <div class = "like_button">
        <%= form_for @like do |f| %>
          <%= hidden_field_tag "post", post.id  %>
          <%= hidden_field_tag "like", "like" %>
          <%= f.submit "Like!"%> <br><br>
        <% end %>
      </div>
    <% end %>

    <% end %>
  <% end %>
</center>
