<center>

<%= image_tag @post.picture.url(:medium) %>

<br>
<%= @post.caption %>
<br><br>


<% if @post.user_id == current_user.id %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<% end %>

<% @post.comments.each do |comment| %>
  <p><b><%= link_to User.find(comment.user_id).username, user_path(User.find(comment.user_id)) %></b>: <%= comment.content %></p>
<% end %>

<!-- Insert Comment Box here -->
<%= form_for @comment do |f| %>
  <b><%= f.label "Comment" %>s<b><br>
  <%= f.text_area :content %><br><br>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br><br>
  <%= f.submit "Comment" %>
<% end %>


</center>
